<?xml version="1.0" encoding="utf-8"?><!--

/*
 * Copyright 2017.  Aldan Rizki Santosa
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inialdan.com.matematriks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_matrix_scene"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_matrix_scene"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="inialdan.apps.matematriks.helper.pub.Splashscreen"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="inialdan.apps.matematriks.helper.pub.Introduce"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.Main"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_ordo_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_jenis_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_transpos_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_kesamaan_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_pertambahan_pengurangan_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_perkalian_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_determinan_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_minor_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.belajar.belajar_penerapan_matriks"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.menu.activity.menu.latihan.latihan_determinan"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.controller.MultipleChoiseMatriks"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="inialdan.apps.matematriks.controller.EssayMatriks"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="inialdan.apps.matematriks.controller.ScoreController"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>